@font-face {
    font-family: noto-sans-bold;
    src:  url(static/NotoSansThai_SemiCondensed/NotoSansThai_SemiCondensed-Bold.ttf);
}
@font-face {
    font-family: noto-sans;
    src: url(static/NotoSansThai/NotoSansThai-Regular.ttf);
}
@font-face {
     font-family: 'Material Icons';
      font-style: normal;
      font-weight: 400;
      src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
      src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
            url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
        url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
/* box sizing bootstrap5 */
.selector-for-some-widget {
    box-sizing: content-box;
  }
/*All styles*/
* {
    font-family: noto-sans;
}
b {
    font-family: noto-sans;
}
.navbtn {
    padding: 20px;
    text-align: center;
    /* background-color: #FFD13F; */
    border-radius: 15px;
    border-style: none;
    background-color: transparent;
    width: 100%;
    height: 60px;
    transition: 400ms;
} .navbtn:hover {
    height: 100px;
    color: #FFD13F;
    background-color: #231F20;
}
.navbtn-logout {
    padding: 20px;
    text-align: center;
    /* background-color: #FFD13F; */
    border-radius: 15px;
    border-style: none;
    background-color: transparent;
    width: 100%;
    height: 60px;
    transition: 400ms;
} .navbtn-logout:hover {
    height: 100px;
    color: #FFFFFF;
    background-color: #ff3939;
}
button {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}
li {
    margin: 10px;
}
/* tag i for icons-font */
i {
    padding-top: 2px;
    font-size: 16px;
}
img {
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}	
header {
    background-color: #FFD13F;
    height: 144px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}
h1 {
    font-family: noto-sans-bold;
    padding: 10px 0px 10px 0px;
    text-align: center;
}
h2 {
    font-family: noto-sans-bold;
    padding: 5px 0px 5px 0px;
    text-align: center;
}
p {
    font-size: 16px;
    text-align: left;
}
label {
    font-size: 16px;
}
span {
    margin-top: 6px;
}
textarea {
    width: 100%; 
    height: 100px; 
    border-radius: 10px;
    border-color: #FFD13F; 
    background-color: white; 
    border-width: 2px; 
    margin-top: 10px; 
    resize: vertical;
}
input,select {
    padding: 5px 5px;
    font-size: 16px;
    text-align: left;
    color: black;
    border-radius: 10px;
    border-color: whitesmoke;				
    background-color: white;
    box-sizing: border-box;
}
input[type="checkbox"] {
    margin-top: 10px;
    width: 18px;
    height: 18px;
}
input[type="radio"] {
    width: 15px;
    height: 15px;
}
table {
    width: 95%;
    border-radius: 10px;
}
thead {
    text-align: center;
    min-width: 100px;
    background-color: #FFD13F;
    border-color: #FFD13F;
    border-style: solid;
    border-radius: 3px;
}
td {
    text-align: center;
}
tr {
    padding: 10px 10px 10px 10px;
}
tr:nth-child(even) {
    background-color: whitesmoke;
}
tr:nth-child(odd) {
    background-color: white;
}
#removeRow:hover {
    color: #C3002F;
}
#addRow:hover {
    color: #67823A;
}
#removeRow,#addRow {
    padding-right: 30px;
    margin-left: 10px;
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: unset;
    transition: 400ms;
}
#tdradio {
    margin-left: 0px;
     margin-top: 5px;
}
#banner {
    background-color:  #FFD13F;
    height: 200px;
    border-style: solid;
    border-color: whitesmoke;
}
#tdin {
    width: 100%;
    min-width: 100px;
    background-color: whitesmoke;
}
#address {
    background-color: whitesmoke;
    border-color: #63666A;
    border-style: dotted;
    border-radius: 60px;
}
#count {
    font-family: noto-sans-bold;
}
#subjectList {
    border-radius: 100px;
}

.submitbutton {
    font-family: "noto-sans-bold";
    width: 120px; 
    height: 50px;
    border-radius: 100px;
    border-style: unset;
    background-color: #FFD13F;
    cursor: pointer;
    transition: 400ms;
} .submitbutton:hover {
    color: white;
    background-color: #67823A;
}
.backbutton {
    font-family: "noto-sans-bold";
    margin: 15px;
    width: 200px; 
    height: 32px;
    border-radius: 10px;
    border-style: unset;
    /* background-color: #FFD13F; */
    cursor: pointer;
    transition: 400ms;
} .backbutton:hover {
    color: white;
    background-color: #000000;
}

.logoutbutton {
    font-family: "noto-sans-bold";
    margin: 15px;
    width: 200px; 
    height: 32px;
    border-radius: 10px;
    border-style: unset;
    /* background-color: #FFD13F; */
    cursor: pointer;
    transition: 400ms;
} .logoutbutton:hover {
    color: white;
    background-color: #ff3939;
}

a:link {
    color: black;
    text-decoration: none;
    font-family: "noto-sans-bold";
}

.form-label {
    font-family: noto-sans-bold;
}