* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    color: hsl(84, 24%, 96%);
    background: url(../images/bg.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh
}

header {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    background: #ffffff;
}

#chk1 {
    display: none;
}

i {
    color: #ffffff;
    cursor: pointer;
}

.longdoo {
    width: 150px;
    height: 44px;
    margin-top: 20px;
    margin-left: 40px;
}

header .search-box {
    flex: 1;
    position: relative;
    margin-left: 50px;
}

.search-box button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0.9);
    background: #E61C5D;
}

.search-box button:hover {
    opacity: 0.8;
}

header ul {
    flex: 2;
    display: flex;
    justify-content: space-evenly;
}

header ul li {
    list-style: none;
}

header ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 450;
    padding: 10px 15px;

}

header ul li a:hover {
    border-bottom: 0.0001px solid #E61C5D;

}

.search-box input {
    width: 100%;
    height: 40px;
    outline: none;
    background: #f2f2f2;
    border-radius: 30px;
    color: gray;
    font-size: 16px;
    text-align: left;
    padding-left: 35px;
}

.logoutbutton {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.btn {
    display: inline-block;
    padding: 0.6rem 1.8rem;
    font-weight: 450;
    border-radius: 2rem;
    cursor: pointer;
    background-color: #E61C5D;
    transition: all 300ms ease;
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    margin-right: 40px;
    font-size: medium;
}

.btn:hover {
    opacity: 0.8;
}

.rowname {
    color: antiquewhite;
    margin-left: 35px;
    padding-top: 140px;
    font-size: 30px;
}


.box {
    background: rgba(255, 255, 255, 0.07);
    border: 1px solid #09FBD3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 5px 21px rgba(255, 83, 192, 0.71);
    border-radius: 22px;
    padding: 50px;
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 60px;
}

.box .inside {
    background-color: #2E1371;
    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.08);
    border-radius: 40px;
    margin-top: 60px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 60px;
}

.box .inside .ticketbox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ticket-text-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ticket-text-box .w-200 {
    width: 200px
}

.ticket-text-box .w-200.mb-20 {
    margin-bottom: 20px;
    font-size: 18px;
}

.ticket-text-box #topic {
    padding: 20px;
    color: #896ED8;
}


.ticket-title-box {
    margin-left: 60px;
    padding: 50px;

}

.myticketbutton {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 70px;
}

.movie-head {
    display: flex;
    justify-content: space-between;
    margin-right: 35px;
}

.movie-title {
    color: antiquewhite;
    margin-left: 35px;
    padding-top: 100px;
}

.about-movie {
    color: antiquewhite;
    margin-left: 35px;
    padding-top: 0px;
}

.cinema {
    color: antiquewhite;
    margin-left: 35px;
    padding-top: 100px;
}

.cinema-time-button button:hover {
    opacity: 0.8;
}

.time-not-selected {
    color: antiquewhite;
    background: linear-gradient(136.65deg, #645097 4.86%, #21232F 103.81%);
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

.time-selected {
    color: antiquewhite;
    background: linear-gradient(136.65deg, #60FFCA 25.77%, rgba(33, 35, 47, 0.78) 103.81%);
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

.row-screen {
    color: antiquewhite;
    text-align: center;
    margin-top: 100px;
}

.seats-box {
    color: antiquewhite;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 60px;




}

.row-seats {
    display: flex;
    justify-content: center;
}

.seats {
    padding: 10px;
}

.seat-price {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.seat-price-box {
    box-sizing: border-box;



    left: 726.29px;
    top: 964px;

    background: rgba(255, 255, 255, 0.15);
    border: 1px solid #09FBD3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 5px 21px -3px rgba(255, 83, 192, 0.71);
    border-radius: 22px;

    text-align: center;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;


}



.status-box {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.continue-button {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    margin-top: 30px;
}

.continue-button button {
    color: antiquewhite;
    background: linear-gradient(180deg, #EE0082 0%, rgba(86, 9, 51, 0.81) 173.01%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 10px;
    padding-left: 150px;
    padding-right: 150px;
    font-weight: 700;
    font-size: 20px;
}

.continue-button button:hover {
    opacity: 0.8;
}

.seats:hover {
    transform: scale(1.1);
}

img {
    max-width: 100%;
    height: auto;
  }

  .outerticket {
    width: 450px;
    height: 825px;
    background-color: rgb(135, 0, 0);
    padding-top: 10px;
    margin: 0px auto;
    position: relative;
  }
  
  .ticket {
    width: 400px;
    height: 775px;
    background-color: white;
    margin-top: 15px;
    margin-bottom: 25px;
    margin-right: 25px;
    margin-left: 25px;
    position: relative;
  }
  
  .holes-top {
    height: 50px;
    width: 50px;
    background-color: rgb(135, 0, 0);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    top: -25px;
  }
  .holes-top:before, .holes-top:after {
    content: "";
    height: 50px;
    width: 50px;
    background-color: rgb(135, 0, 0);
    position: absolute;
    border-radius: 50%;
  }
  .holes-top:before {
    left: -200px;
  }
  .holes-top:after {
    left: 200px;
  }
  
  .holes-lower {
    position: relative;
    margin: 25px;
    border: 1px dashed #aaa;
  }
  .holes-lower:before, .holes-lower:after {
    content: "";
    height: 50px;
    width: 50px;
    background-color: rgb(135, 0, 0);
    position: absolute;
    border-radius: 50%;
  }
  .holes-lower:before {
    top: -25px;
    left: -50px;
  }
  .holes-lower:after {
    top: -25px;
    left: 350px;
  }
  
  .title {
    padding: 0px;
  }
  
  .cinemaTicket {
    color: #000000;
    margin-left: 15px;
    padding-top: 50px;
    font-size: 22px;
  }
  
  .movie-title-ticket {
    color: #000000;
    margin-left: 15px;
    padding-top: 15px;
    padding-bottom: 25px;
    font-size: 35px;
  }
  
  .info {
    color: #000000;
    padding: 15px 25px;
  }
  
  table {
    width: 100%;
    font-size: 18px;
    margin-bottom: 15px;
  }
  table tr {
    margin-bottom: 10px;
  }
  table th {
    text-align: left;
  }
  table th:nth-of-type(1) {
    width: 38%;
  }
  table th:nth-of-type(2) {
    width: 40%;
  }
  table th:nth-of-type(3) {
    width: 15%;
  }
  table td {
    width: 33%;
    font-size: 32px;
  }
  
  .bigger {
    font-size: 48px;
  }
  
  .serial {
    padding-top: 5px;
    padding-left: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
  }
  .serial table {
    border-collapse: collapse;
    margin: 0 auto;
  }
  .serial td {
    width: 3px;
    height: 50px;
  }
  
  .numbers td {
    color: #000000;
    font-size: 16px;
    padding-top: 5px;
    text-align: center;
  }