* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border:none;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    color: hsl(84, 24%, 96%);
    background:url(images/bg.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height:100vh
}

header{
    width: 100%;
    height: 75px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    background: #ffffff;
}
.container{
    background-color: rgba(255,255,255,0.2);
    width: 1375px;
    height: 700px;
    margin-left: 60px;
   margin-top: 10px;
   border-radius: 25px;
    border: 1px solid black;

   
}

#chk1{
    display:none;
    

}
 #book{
    color: rgba(218, 179, 255 ,0.8);
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    margin-left: 60px;
    
 }
 
#dat{
    color: white;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    

 }
 #mov{
     color: white;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-left: 300px;

 }
#info{
color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-left: 660px;
}





i{
    color: #ffffff;
    cursor: pointer;
}

.longdoo{
    width: 150px;
    height: 44px;
    margin-top: 20px;
    margin-left: 40px;
}

hr {
    margin-left: 75px;
    width: "100%";
    size: "5px";
    align-items: "center" ;
    color: #99ccff; 
}

header .search-box{
    flex: 1;
    position: relative;
    margin-left: 50px;
}

.search-box button{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border:none;
    position: absolute;
    top: 0;
    right:0;
    transform: scale(0.9);
    background: #E61C5D;
}

.search-box button:hover{
    opacity: 0.8;
}

header ul{
    flex:2;
    display: flex;
    justify-content: space-evenly;
}

header ul li{
    list-style: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 450;
    padding: 10px 15px;

}

header ul li a:hover{
    border-bottom: 0.0001px solid #E61C5D;

}

.search-box input{
    width: 100%;
    height: 40px;
    outline: none;
    background: #f2f2f2;
    border-radius: 30px;
    color: gray;
    font-size: 16px;
    text-align: left;
    padding-left: 35px;
}
.logoutbutton {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.btn {
    display:inline-block;
    padding: 0.6rem 1.8rem;
    font-weight:450;
    border-radius: 2rem;
    cursor: pointer;
    background-color: #E61C5D;
    transition: all 300ms ease;
    color:aliceblue;
    font-family: 'Poppins', sans-serif;
    margin-right: 40px;
    font-size: medium;
}

.btn:hover{
    opacity: 0.8;
}



.rowname {
    color:white;
    margin-left: 35px;
    padding-top: 40px;
}



.movie_description {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 55rem;
    padding-top: 20px;
    line-height: 1.4;
    font-size: 16px;
    max-width: 500px;
    height: fit-content;
}

.header_button {
    cursor: pointer;
    color: aliceblue;
    outline: none;
    border: none;
    border-radius: 0.75vw;
    background-color: rgba(85, 85, 85, 0.5);
    font-weight: 550;
    font-size: 16px;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 1rem;
    margin-right: 1.5rem;
}

.button_img {
    margin-right: 8px;
    width : 18px;
    height: 13px;
    background-position: center bottom;
}

.header_button:hover {
    color:#000000;
    background-color: aliceblue;
    transition: all 0.2s;
}


.blackbg {
    background-color: #000000;
}


.button {
  border: none; 
  padding: 10px 20px; 
  letter-spacing: 1px;
  border-radius: 20px;
   font-size: 15;
   box-shadow: grey 0.1em 0.1em 0.3em
  }

.button1 {
  background-color: #FFD13F;
  color: black; 
  margin-left: 30px;
  margin-top: 30px;

}
.button2 {
  background-color: #E61C5D;
  color: white; 
  margin-left: 40px;
  margin-top: 40px;
}

